@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-image: Linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.left-column {
  padding: 4rem 8rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

/* Logo */
.logo-container {
  width: 100px;
  padding: 1.5rem 0 0 1.5rem;
  margin-bottom: 1.5rem;
}

/* Main Photo */
.right-column {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Info/text Container */

h1 {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
  font-size: 2.75rem;
  letter-spacing: 10px;
  line-height: 0.4;
}

h2 {
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  font-size: 2.75rem;
  letter-spacing: 10px;
  line-height: 0.4;
}

p {
  color:  hsl(0, 36%, 70%);
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.6;
}

/*Email Form*/

form {
  position: relative;
}

form label {
  position: absolute;
  top: 3%;
  transform: translateY(23%);
  right: 5rem;
  display: none;
}

.email-container {
  display: flex;
  width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center; /* Align items horizontally */
  width: 100%;
}

form input {
  font-family: inherit;
  font-size: 1rem;
  width: 275px;
  height: 40px;
  cursor: pointer;
  border-radius: 30px;
  opacity: 40%;
  border: 1px solid hsl(0, 6%, 24%);
  padding-left: 0.8rem 1rem;
  margin-right: 2rem 0 0;
}

form input::placeholder {
  color: hsl(0, 6%, 24%);
  padding-left: 15px;
  font-size: .8rem; 
}

/* Submit Button */

form button {
  position: relative;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 0.6rem 1.8rem;
  margin-left: -40px;
  background-image: Linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  transition: 0.3s;
} 

 button:hover {
  background-image: Linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 80%, 86%));
} 

.error {
  color: hsl(0, 93%, 68%);
  text-align: left;
  margin-top: 0.5rem;
  display: none;
}
 
/* Footer */

footer {
  padding: 10px;
  position: absolute;
  bottom: 10;
  width: 100%;
  background-color: hsl(0, 100%, 98%);
} 

.attribution {  
  font-size: 12px; 
  text-align: center; }
.attribution a { 
  color: hsl(228, 45%, 44%); } 

/* For screens wider than 768px */

@media (min-width: 768px) {
  body {
    background: url("images/bg-pattern-desktop.svg") 
    no-repeat center/cover;
  }

  .logo-container {
    padding: 3rem 0 0 16rem;
  }

  .right-column picture img {
    margin-top: -8rem;
    max-width: 100%;
    object-fit: cover;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .left-column {
    order: 1; /* Ensure left column appears first */
    padding: 4rem 2rem;
    margin: -10rem 0 0 0;
  }

  .right-column {
    order: 2; /* Ensure right column appears second */
  }

  h1,
  h2,
  p {
    text-align: left;
  }

  .main-header-container {
    width: 50%;
  }

  form input {
    width: 400px;
  }
}
/* End Media Query */


  
  